# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/infographics_app/node_modules

# testing
infographics_app/coverage

# production
infographics_app/build

# misc
.DS_Store

# sass files
.sass-cache/
*.css.map
*styles.scssc